.newCharacterForm {
    border-style: solid;
    border-color: darkgray;
    padding: 5px;
    border-radius: 5px;
    background-color: #FFFEFA;
}
label {
    text-align: left;
}
.formRight {
    margin-bottom: 10px;
}

legend {
    font-size: 20px;
}

@media screen and (min-width: 500px) {
    .formLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .formRight{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    input {
        width: 95%;
    }
    .addToCanonButton {
        margin-right: 10px;
    }
}