.navCharacter {
    border-style: solid;
    border-color: darkgray;
    border-radius: 5px;
    background-color: #FFFEFA;
    margin-bottom: 15px;
    padding: 5px;
    max-width: 95%
}

.navCharacter:hover{
    background-color: #0B9690;
    color: white;
    border-color: #0B9690;
    padding: 15px;
    font-size: 25px;
}