
.navCanonizeLink, .canonizeDormant{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
}
.navLink {
    color: purple;
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
