
.loginRegister {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 10px;
}

.navCanonizeLink, .canonizeDormant{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    margin-left: 10px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 20px;
    color: white;
}

.navLink {
    color: white;
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    margin-top: 15px;
}
