.characterAvatar {
    max-width: 60%;
    border-style: solid;
    border-width: 10px;
    border-color: #daa520;
}

.characterButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.editButton, .deleteButton {
    display: flex;
    flex-direction: row;
    align-self: start;
    margin-right: 10px;
}

@media screen and (min-width: 800px) {
    .characterAvatar {
        max-width: 60%;
    }
    .characterName {
        text-align: center;
    }
    .characterButtons {
        padding: 5px;
    }
}

@media screen and (min-width: 1300px) {
    .characterAvatar{
        max-width: 50%;
    }
}