.editCharacterForm {
    background-color: #FFFEFA;
}

@media screen and (min-width: 1500px) {
    .formLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .formRight{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    input {
        width: 95%;
    }
}