* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'source-code-pro', monospace, 'Roboto', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../src/images/Canonizer\ Draft1[154].png');
  background-position: center;
  background-size: auto;
  background-repeat: repeat-y;
  background-color: #E9E8E4;
}
